<div class="row" style=" margin-top:60px">
    <div class="col-md-5 col-md-offset-12 well">
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" />
            <br />
            <input type="text" class="form-control" name="email" id="email" placeholder="Your Email" />
            <br />
            <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" />
            <br />
            <button class="btn btn-primary btn-block btn-lg">Sign Up</button>
        </form>
    </div>
</div>
